* {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    font-size: 50px;
}

/* navigation bar */

nav {
    /* background-color: aqua; */
    border-bottom: black;
    border-style: solid;
}

.navbar {
    display: flex;
}

.navbar ul {
    display: flex;
    list-style: none;
}

/* navigation bar */

/* hero */

header {
    background-img: g
}

/* hero */

main {
    background-color: aquamarine;
}

footer {
    background-color: brown;
}