* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color:white;
    font-size: 1em;
    font-family: "montserrat";
    margin: 0px 50px;
}

h2 {
    color: #e91e63; background-image: -webkit-linear-gradient(45deg, #e91e63 28%, #68ed3b 67%, #4b33be 80%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent; 
    text-align: center;
}

.container {
    display: grid;
    gap: 10px;
}

/* navbar */

/* .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: white;
} */

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
    text-align: center;
}

.navbar-logo {
    max-width: 4%;
    min-width: 2.5%;
}

.navbar .navbar-title {
    font-size: 1.2em;
    color: #e91e63; background-image: -webkit-linear-gradient(45deg, #e91e63 28%, #68ed3b 67%, #4b33be 80%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 5px;
}

.navbar a {
    display: block;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,218,1) 53%, rgba(252,176,69,1) 100%);
    transition-duration: 0.5s;
}

/* navbar */

.hero {
    grid-area: hero;
    min-height: 500px;
    background-image: url(asset/people.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    object-fit: cover;
    transition-property: filter;
    transition-duration: 0.8s;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px;
    font-size: 1.5em;
    color:white;
    text-shadow: 2px 2px 3px #000;
    cursor: pointer;
    text-align: center;
}

/* .hero:hover {
    filter: grayscale(0);
} */


.section-1 {
    text-align: center;
    font-size: large;
}

.services {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px; */
    gap: 1rem;
    grid-template-areas: 
    "service-1 service-2"
    "service-3 service-4";
}

.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    min-height: 100px;
    padding: 0px;
}

.service-konten {
    min-height: 100px;
    padding-top: 2rem;
}


.service:hover {
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,218,1) 53%, rgba(252,176,69,1) 100%);
    transition-duration: 0.5s;
    color:antiquewhite;
    font-size: large;
    font-weight: 800;
}

.section-2 {
    padding: 0;
    height: 10rem;
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,218,1) 53%, rgba(252,176,69,1) 100%);
    display: flex;
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 1rem;
}

.section-2 div {
    flex: 1 2 auto;
}

.section-2 div h3 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, max(100px, 1fr));
    gap: 5px;
    grid-template-areas: 
    "card-1 card-2 card-3   "
    "card-4 card-5 card-6";
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    text-align: center;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6  {

}

fieldset {
    margin: 10% 0;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 98%;
    padding: 4px 4px;
    margin: 8px 0;
    display: block;
}

input[type="date"] {
    margin: 8px 0;
    display: block;
}

.container-form {
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,218,1) 53%, rgba(252,176,69,1) 100%);
    color: antiquewhite;
    padding: 8px;
    margin-top: 16px;
    box-sizing: content-box;
    
}

.before-form {
    text-align: center;
}

form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"] {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: white;
    transition-duration: 0.8s;
}


@media (max-width: 1024px) {
    .menu {
        grid-template-columns: 1fr;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .list {
        display: block;
    }

    .img-list {
        margin-top: 1rem;
        width: 800px;
        height: auto;
    }

    body {
        font-size: 80%;
        margin: 0px;
    }
    
    .gallery {
        display: block;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 70%;
        margin: 0px;
    }
    
    .gallery {
        display: block;
    }
}

@media (max-width: 600px) {
    .header {
        grid-template-areas: 
            "hero"
            "feature-1"
            "feature-2";
    }

    body {
        font-size: 55%;
        margin: 0px;
    }

}